<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!--<title>SRCCF</title>-->
  <title>{{title}}</title>
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/about_dir/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/about_dir/css/font-awesome.min.css">
     <link rel="stylesheet" href="static/about_dir/css/aos.css">
     <link rel="stylesheet" href="static/about_dir/css/owl.carousel.min.css">
     <link rel="stylesheet" href="static/about_dir/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/about_dir/css/templatemo-digital-trend.css">

</head>

<body>
  <section class="hero hero-bg d-flex justify-content-center align-items-center">
  <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">

                          <img src="static/img/team/mohan.png" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h1 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100" style="font-family: Times New Roman;">About</h1>

                      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300" style="font-family: Times New Roman;">Mr. R.Mohan rao , the Chairman & Managing Director of the Company, graduated
with a Bachelor of Science degree and Post Graduate in Management of Business
Administration from Anna University . He has over 16 Years of experience in the Chit
funds, Insurance, Vehicle finance and real estate sector. He has been the founder
Chairman of the Company since its inception. He is responsible for the overall
working of the Company and is instrumental in making strategic decisions for the
Company.
</h2>

                      <p data-aos="fade-up" data-aos-delay="400">
                        <strong>{{name}}</strong>

                        <span class="mx-1">/</span>

                        <small>{{desig}}</small>
                      </p>
                    </div>

               </div>
          </div>
     </section>
   </div></section>
     <!-- SCRIPTS -->
     <script src="static/about_dir/js/jquery.min.js"></script>
     <script src="static/about_dir/js/bootstrap.min.js"></script>
     <script src="static/about_dir/js/aos.js"></script>
     <script src="static/about_dir/js/owl.carousel.min.js"></script>
     <script src="static/about_dir/js/smoothscroll.js"></script>
     <script src="static/about_dir/js/custom.js"></script>
</body>


</html>